<form action="users/{{userId}}/lists/{{list._id}}?_method=PUT" medthod="POST">
<label for="name">Name</label>
<input type="text" name="name" value="{{list.name}}">

<label for="qty">Qty</label>
<input type="numver" name="qty" value="{{list.price}}" step="any">

<input type="submit" value="Edit">
</form>