<div class="jumbotron jumbotron-fluid" id="front-page">
    <div class="container" id="center-div">
<form action="/users/{{userId}}/lists" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="qty">Qty</label>
    <input type="text" name="qty">

    <input type="submit" value="Create">
</form>

</div>
</div>