<div class="jumbotron jumbotron-fluid" id="front-page">
    <div class="container" id="center-div">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/icon.jpg" class="img-responsive" id="logo" alt="logo">
            </div>
            <div class="col-md-6">
                <h3>New List</h3>
            </div>
        </div><hr>
        <form action="/users/{{userId}}/lists" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="qty">Qty</label>
                <input type="number" class="form-control" name="qty">
            </div>
            <div class="form-group">
                <label for="note">Note</label>
                <input type="text" class="form-control" name="note">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>

                  <a href="/users/{{userId}}/lists">
             <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon glyphicon-backward">
              </span>
           Back</button></a>
            </div>
           
            </div>
        </form>

    </div>
</div>