<form action="/lists" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="qty">Qty</label>
    <input type="text" name="qty">

    <input type="submit" value="Create">
</form>