<div>
    <h1>{{list.name}}</h1>
    <div>Qty: {{list.list}}</div>
    <div>
        <a href="/lists"> Back to Shopping list</a>
    </div>
    <div>
        <a href="/lists/{{list._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/lists/{{list._id}}/delete">Delete</a>
    </div>
</div>