body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  text-decoration: none;
  background-image: url(../images/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  box-sizing: border-box;
}
a{
  color:#fff;
}
ul {
  list-style-type: none;
  font-size: 1.2em;
  padding: 10px;  
  width: 400px;

}
.form-group{
  width: 350px;

  /* margin: 0 auto; */
}
#submit{
  margin-top: 10px;
}
#edit{
  margin-top: 10px;
} 
hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0; 
}
#front-page{
 width: 500px;
 margin: 0 auto;
 border: 1px solid #fff;
 opacity: .8;
 /* box-shadow: 8px 8px 5px #ccc; */ 
}
#appCover{
  width: 500px;
  height: 692px;
  background-color: black;
  position: relative;
  top: -782px;
  opacity: .9;
  border-radius: 10px;
}

#circle {
  width: 80px;
  height: 80px;
  transition: background-color 0.5s ease;
  background-color: red;
  background-color: #b2ebf2 ;
  border: 1px solid #616161;
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  left: 190px;  
}
#circle:hover{
  background-color: #26c6da;
  border: 1px solid #00cc00;

}
h2,h3,h4{
  font-family: 'Bowlby One SC', cursive;
  text-transform: uppercase;
  font-weight: bold;

}
#wrapper{
  border: 1px solid #fff;
}
a:link{
  color: rgb(255,255,255);
}
.jumbotron{
  background-color: #fff;
}
.border{
border: 1px solid #757575;
height: 40px;
margin: 2px;
line-height: 40px;
}
.image-div{
  width: 90px;  
}
#logo{
  width: 100px;

}
#center-div{
  width: 350px;
  position: relative;
  top: 20px;
}

#mobileApp{
  border: 1px solid #000;
  width: 530px;
  height: 800px;
  padding-top: 15px;  
  border-radius: 30px;
  background-color: #e0e0e0 ;

}

#mainpage-top{
  background-color: rgba(3, 169, 244, 0.3);
  padding: 15px;
  /* border: 1px solid red; */
  
}
#footer{
  width: 500px;
  height: 90px;
  /* background-color: red; */
}

.login{
  /* border: 1px solid red; */
  margin-top: 5px;
}

.trelloboard{
  /* border: 1px solid red;   */
  margin-top: 5px;

}

.main-img{
  /* border: 1px solid red; */
  margin-top: 15px;
  height: 70%;
  
}
img{
  height: 100px;
}
.top{
  /* border: 1px solid red; */
  margin-top: -30px;
}
.p-2{
  padding: 2px;
}
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  #mobileApp{
    margin-top: 150px;
    height: 885px;
  }
#appCover{
  width: 500px;
  height: 760px;
  background-color: black;
  position: relative;
  top: -854px;
  opacity: .9;
  border-radius: 10px;
  }
  #front-page{
    /* width: 800px;   */
    margin: 0 auto;
    border: 1px solid #fff;
    opacity: .8;
    width: 100%;
    margin-top: 0%;
    /* box-shadow: 8px 8px 5px #ccc; */ 
   }
}
/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
  width: 90%;

}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 20px;
    padding-left: 20px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}
@media only screen and (max-width: 1000px) 
          and (min-device-width: 668px)
  {
  #appCover{
    /* background-color: red; */
    height: 750px;
    position: relative;
    top: -840px; 
  }
  #mobileApp{
    height: 860px;
  }
  
}