body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  text-decoration: none;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  box-sizing: border-box;
}
a{
  color:#fff;
}
ul {
  list-style-type: none;
  font-size: 1.2em;
  padding: 10px;  
  width: 400px;

}
.form-group{
  width: 300px;
  /* margin: 0 auto; */
}
#submit{
  margin-top: 10px;
}
#edit{
  margin-top: 10px;
} 
hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid #000;
  margin: 1em 0;
  padding: 0; 
}
#front-page{
 /* border-radius: 20px; */
 width: 500px;
 margin: 0 auto;
 border: 1px solid #fff;
 opacity: .9;
 
}
h2{
  text-transform: uppercase;
  font-weight: bold;
}
#wrapper{
  border: 1px solid #fff;
}
a:link{
  color: rgb(255,255,255);
}
.jumbotron{
  background-color: #fff;
}
.border{
border: 1px solid #000;
height: 40px;
margin: 2px;
line-height: 40px;
}


/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  #front-page{
    max-width: 100%;
  }
}