<div class="container" id="mobileApp">
    <div class="jumbotron jumbotron-fluid" id="front-page">
        <div class="container top">
            <div class="row">
                <div class="col-md-3">
                    <div class="image-div">
                        <img src="../images/icon.jpg" class="img-responsive" alt="logo">
                    </div>
                </div>
                <div>
                    {{!--
                    <h3 class="text-center">Welcome to the Grocery List App</h3> --}}
                    <h3 class="text-center"><span class="vertical-center">Make Your Life Easier</span></h3>
                </div>
            </div>
        </div>
        <div class="container" id="mainpage-top">
            <form>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-12">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-12">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
            </form>
             <button type="button" class="btn btn-primary">Login</button></a>
            <a href="/users">
             <button type="button" class="btn btn-primary">Guest Login</button></a> 
            <button type="button" class="btn btn-primary">Find Supermarket Nearby</button>
        </div>
        <div class="container login">
           
       </div>
 
        <div class="container main-img">
            <img src="/images/grocery.jpg"
                class="img-responsive" alt="">
        </div>
          <div class="container trelloboard">
                {{!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52923.60181164703!2d-84.58417975121839!3d33.999593779741744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f514da8805d301%3A0x12171978a8720513!2sWalmart+Supercenter!5e0!3m2!1sen!2sus!4v1506996499045" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> --}}
                <a href="https://drive.google.com/open?id=1yucoLfMbDqbrvm2zZ-rNNRL7-FjhcVBnAih-STKUiXY" target=_blank> 
            <button id="btn-color" type="button" class="btn btn-danger">
                Wireframe & ERD   </button></a>
                <a href="https://trello.com/b/0ZjjGF7d/ga-project-two" target=_blank></a>
                <button id="btn-color" type="button" class="btn btn-danger">
                Trello Board
                </button></a><br>
                Prakash Rai © Copyright 2017
        </div><br>
        {{!-- <button type="button" onclick="myFunction()">Set background color</button> --}}
    </div>
        <div class="container" id="footer"> 
        <div>
        <button onclick="myFunction()" id="circle"><strong>start</strong></button>
        </div>
    </div>
    <div id="appCover">    
   
  
</div>
     {{!-- <button onclick="myFunction()">Try it</button> --}}