<form action="/lists/{{listId}}/users" method ="POST">
    <label for="name">Name</label>
    <input type="text" name="name">

    <label for="qty">Qty</label>
    <input type="number" name="qty" step="any">
    <input type="submit" value="Create">
</form>