<div>
    <h1>User: {{user.name}}</h1>
    <h1>Phone: {{user.phone}}</h1>

    <div>
        <a href="/users">Back to Users</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/edit">Edit</a>
    </div>
    <div>
        <a href="/users/{{user._id}}/delete">Delete</a>
    </div>
</div>